@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn  ddfsdf   <a href="https://docs.microsoft.com/aspnet/core">Heloo     from live sharp</a>.</p>
</div>
